@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./embla.css";

@layer base {
  :root {
    --primary-dark: 120, 29%, 23%;
    --primary: 87, 26%, 31%;
    --primary-light: 93, 21%, 48%;
    --primary-lighter: 84, 38%, 85%;
    --background: 0, 0%, 100%;
    --foreground: 240, 10%, 3.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-primary-light selection:text-background;
  }
}

@layer components {
  .highlight {
    @apply relative
    z-[1]
    after:absolute
    after:bottom-0
    after:left-0
    after:-z-[1]
    after:h-[20%]
    after:w-full
    after:-translate-y-[20%]
    after:bg-primary-light
    after:transition-all
    hover:after:h-[35%];
  }
}
