@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-dark: 120, 29%, 23%;
    --primary: 87, 26%, 31%;
    --primary-light: 93, 21%, 48%;
    --primary-lighter: 84, 38%, 85%;
    --background: 0, 0%, 100%;
    --foreground: 240, 10%, 3.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
